body {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    color: #252525;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 10px 15px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 5px;
    gap: 10px;
}

.nav__list a:hover {
    text-decoration: underline;
}

.header__enter {
    padding: 12px 20px;
    color: #FFFFFF;
    background-color: #1A73E5;
    border-radius: 4px;
}

main {
    flex-grow: 1;
}

.search {
    padding-top: 76px;
}

.search__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__form {
    display: flex;
    align-items: center;
    border: 1px solid #E4E4E4;
    border-radius: 40px;
    padding: 12px;
    margin-top: 22px;
}

.search__label img {
    vertical-align: sub;
}

.search__input {
    width: 350px;
    line-height: 1;
    padding: 0 14px;
    box-sizing: content-box;
    height: 24px;
}

.search__tools {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.search__tools img {
    display: block;
}

.search__filters {
    display: flex;
    padding-top: 25px;
    gap: 10px;
}

.search__btn {
    background-color: #F8F9FB;
    padding: 6px 14px;
    border-radius: 8px;
    line-height: inherit;
    transition: .3s;
}

.search__btn:hover {
    transform: scale(1.1);
    transition: .3s;
}

.search__lang {
    padding-top: 20px;
}

.search__lang a {
    color: #342C79;
}

footer {
    flex-shrink: 0;
}

.footer__top {
    padding: 10px 24px;
    background-color: #F2F2f2;
    border-bottom: 1px solid #E0E0E0;
}

.nav-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.nav-footer>ul {
    display: inline-flex;
    gap: 20px;
    padding: 10px 24px;
}